<div class="container">
  <h1>登录</h1>
  <form #userForm="ngForm" (ngSubmit)="login(username.valid,password.valid)">
    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" name="username" autocomplete="off" required [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" #username="ngModel" placeholder="请输入手机号码" />
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" name="password" autocomplete="off" required minlength="6" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" #password="ngModel" placeholder="请输入密码" />
    </div>
    <label></label>
    <button type="submit" class="btn btn-success">登录</button>
    <div class="tip">暂无账号？<a routerLink="/register" routerLinkActive="active">立即注册</a></div>
  </form>

  <div *ngIf="this.submitStatus">
    <div *ngIf="username.invalid" class="alert">
      <div *ngIf="username.errors.required">用户名为空</div>
      <div *ngIf="!username.errors.required && !mobileExg.test(username.value)">手机号码格式不正确</div>
    </div>
    <div *ngIf="password.invalid && !username.invalid" class="alert">
      <div *ngIf="password.errors.required">密码为空</div>
      <div *ngIf="!password.errors.required && !passExg.test(password.value)">密码格式不正确</div>
    </div>

  </div>
  <div class="alert">{{msg}}</div>
  
</div>

