<div class="container">
  <h1>设置登录密码</h1>
  <form #userForm="ngForm" (ngSubmit)="setPassword(password.valid,passwordConfirm.valid)">
    <div class="form-group">
      <label for="password">支付密码</label>
      <input type="password" class="form-control" name="password" autocomplete="off" required minlength="6" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" #password="ngModel" placeholder="请输入登录密码" />
    </div>
    <div class="form-group">
      <label for="passwordConfirm">确认密码</label>
      <input type="password" class="form-control" name="passwordConfirm" autocomplete="off" required minlength="6" [(ngModel)]="user.passwordConfirm" [ngModelOptions]="{standalone: true}" #passwordConfirm="ngModel" placeholder="请确认密码是否正确" />
    </div>
    <label></label>
    <button type="submit" class="btn btn-success">确定</button>
    
  </form>

  <div *ngIf="this.submitStatus">
    <div *ngIf="password.invalid" class="alert">
      <div *ngIf="password.errors.required">密码为空</div>
      <div *ngIf="!password.errors.required && !passExg.test(password.value)">密码格式不正确</div>
    </div>
    <div *ngIf="!password.invalid && passwordConfirm.invalid" class="alert">
      <div *ngIf="passwordConfirm.errors.required">请再次输入密码</div>
      <div *ngIf="!passwordConfirm.errors.required && passwordConfirm.value !== password.value">两次密码输入不一致</div>
    </div>

    <div class="alert">{{msg}}</div>
  </div>

</div>

