<div class="container">
    <h1>设置支付密码</h1>
    <form #userForm="ngForm" (ngSubmit)="setPayPassword(payPassword.valid,payPasswordConfirm.valid)">
      <div class="form-group">
        <label for="payPassword">支付密码</label>
        <input type="password" class="form-control" name="payPassword" autocomplete="off" required minlength="6" [(ngModel)]="user.payPassword" [ngModelOptions]="{standalone: true}" #payPassword="ngModel" placeholder="请输入支付密码" />
      </div>
      <div class="form-group">
        <label for="payPasswordConfirm">确认密码</label>
        <input type="password" class="form-control" name="payPasswordConfirm" autocomplete="off" required minlength="6" [(ngModel)]="user.payPasswordConfirm" [ngModelOptions]="{standalone: true}" #payPasswordConfirm="ngModel" placeholder="请确认密码是否正确" />
      </div>
      <label></label>
      <button type="submit" class="btn btn-success">确定</button>
      
    </form>
  
    <div *ngIf="this.submitStatus">
      <div *ngIf="payPassword.invalid" class="alert">
        <div *ngIf="payPassword.errors.required">密码为空</div>
        <div *ngIf="!payPassword.errors.required && !passExg.test(payPassword.value)">密码格式不正确</div>
      </div>
      <div *ngIf="!payPassword.invalid && payPasswordConfirm.invalid" class="alert">
        <div *ngIf="payPasswordConfirm.errors.required">请再次输入密码</div>
        <div *ngIf="!payPasswordConfirm.errors.required && payPasswordConfirm.value !== payPassword.value">两次密码输入不一致</div>
      </div>
  
      <div class="alert">{{msg}}</div>
    </div>
  
  </div>
  
  